name: Deploy Cloud Functions

on:
  push:
    branches:
      - main
    paths:
      - 'functions/**' # Trigger only on changes within the functions directory

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20 # Use a current Node.js version

    - name: Install dependencies
      run: cd functions && npm install

    - name: Authenticate with Firebase using Service Account
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        
    - name: Deploy Firebase Functions
      run: npx firebase-tools deploy --only functions
      # Ensure you have firebase-tools installed as a dev dependency or use npx
