name: Deploy Firebase Functions

on:
  push:
    branches:
      - main

jobs:
  deploy-functions:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: w9jds/firebase-action@v13.7.1
        with:
          args: deploy --only functions --project fireguard-2faea
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
